# URL de l'API Strapi (sans le /api à la fin)
PUBLIC_STRAPI_API_URL=http://localhost:1337/api

# URL de base de Strapi (pour les images)
PUBLIC_STRAPI_URL=http://localhost:1337

# URL du site Astro
PUBLIC_SITE_URL=http://localhost:4321

# Nom du site
PUBLIC_SITE_NAME=Starterkit Blog
